* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: rgba(78, 81, 80, 1);
}

.profile{
    text-align: center;
    padding: 25px;
}

.pimage{
    width: 120px;
    border-radius: 16px;
}

.name{
    font-weight: 600;
    font-size: 14px;
    line-height: 26px;
    color: rgba(169, 169, 169, 1);
}

.place{
    font-weight: 600;
    font-size: 10px;
    color: rgba(169, 169, 169, 1);
}

.post{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.post1, .post2, .post3{
    background-color: rgba(229, 229, 229, 1);
    width: 78px;
    height: 52px;
    border-radius: 12px;
    text-align: center;
    font-weight: 600;
    font-size: 12px;
    color: rgba(189, 189, 189, 1);
}

.user{
    font-weight: 600;
    font-size: 12px;
    margin-top: 10px;
}

main{
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}

.item-grid{
    height: 300px;
    width: 340px;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
}

.grid-image{
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

.estirar-2-cols{
    grid-column: span 2;
}

.estirar-2-filas{
    grid-row: span 2;
}

.design{
    font-size: 12px;
    color: rgba(185, 189, 207, 1);
    text-align: center;
    font-weight: 500;
}

@media (min-width: 1200px) {

    .profile{
        width: 180px;
        border-radius: 16px;
        margin-left: 36rem;
    }

    .name{
        font-size: 24px;
        line-height: 29px;
    }

    .place{
        font-size: 14px;
    }

    .post{
        justify-content: center;
        gap: 31px;
    }

    .design{
        font-size: 18px;
    }

    main{
        display: flex;
        justify-content: center;
        height: 800px;
    }

    .item-grid{
        height: 800px;
        width: 800px;
        padding-top: 2rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 20px;
    }

    .grid-image{
        width: 100%;
        height: 100%;
        border-radius: 12px;
    }

    .estirar-2-cols{
        grid-column: span 2;
    }

    .estirar-2-filas{
        grid-row: span 2;
    }

}